
version: '3.8'

services:
  api:
    build: .
    container_name: py-store-api
    ports:
      - "5000:5000"
    volumes:
      - ./uploads:/app/uploads
      - ./app:/app/app  # Para desenvolvimento
    environment:
      - MONGO_URI=${MONGO_URI}
      - MONGO_DB=${MONGO_DB}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - FLASK_ENV=${FLASK_ENV:-production}
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/"]
      interval: 30s
      timeout: 10s
      retries: 3
      